.home {
  margin: ($base-size * 3.5) auto;
  padding: 3rem 3rem;
  background-color: $color-light;

  &__cta {
    @include flex(column, unset, unset);
    margin-bottom: 4rem;

    div:first-of-type {
      display: flex;
      flex-direction: row;
      gap: 8px;
      margin-bottom: 4px;

      .action {
        width: 50%;
        height: 120px;
        position: relative;
        cursor: pointer;
        border-radius: $radius;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: $radius;
        object-fit: cover;
      }
      
      h3 {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-light;
        font-size: 1.3rem;
        width: 70%;
        text-align: center;
        font-weight: 700;
        transition: all 0.3s ease-in;

        &:hover {
          top: 20%;
        }
      }
    }    

    .info {
      background-color: $color-main;
      text-align: center;
      color: $color-light;
      border-radius: $radius;

      h3 {
        font-size: 1.5rem;
        font-weight: $font-bold;
      }

      p {
        @extend .h2;
      }
    }
  }

  &__quotes {
    margin-bottom: 2rem;

    .carousel-cell {
      @include flex(row, center, space-evenly);
      height: 200px;
      position: relative;
      width: 100%;

      img {
        width: 35%;
        height: 100%;
        object-fit: cover;
        border-radius: $radius;
      }

      blockquote {
        width: 65%;
        margin: 0;
        padding-left: ($base-size * 1.5);
        position: relative;
      }

      h3 {
        font-size: 1.2rem;
        font-weight: $font-bold;
        margin: 0;
      }

      p {
        width: 90%;
      }

      cite {
        font-family: "Comic Sans MS", sans-serif;
        font-weight: $font-semibold;
        font-style: normal;
      }
    }

    .flickity-page-dots {
      bottom: -65px;
    }
  }

  &__gallery {
    margin-top: 8rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 3, 1fr);
    grid-template-rows: repeat(auto-fit, 2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    :nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }

    :nth-child(2) {
      grid-area: 1 / 2 / 2 / 3;
    }

    :nth-child(3) {
      grid-area: 1 / 3 / 2 / 4;
    }

    :nth-child(4) {
      grid-area: 2 / 1 / 3 / 2;
    }

    :nth-child(5) {
      grid-area: 2 / 2 / 3 / 3;
    }

    :nth-child(6) {
      grid-area: 2 / 3 / 3 / 4;
    }

    .card {
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 180px;
      max-width: 180px;
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $radius;
      }

      .icons-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        margin-bottom: 80px;
        visibility: hidden;
      }

      i {
        font-size: 1.1rem;
        color: $color-light;
        cursor: pointer;
        opacity: 75%;
        transition: all 0.3s ease-in;

        &:hover {
          transform: scale(1.2);
          opacity: 100%;
          font-size: 2rem;
          color: $color-danger;
        }
      }

      .card-overlay {
        background: rgba(255, 255, 255, 0.4);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
      }

      &:hover .card-overlay {
        opacity: 1;
      }

      &:hover .icons-wrapper {
        visibility: visible;
      }
    }
  }

  a {
    color: $color-main;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 600px){
  .home__gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
  }
}